<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% comment %} {{tasks}} {% endcomment %}

        <ul>
            {% for task in tasks %}
            
            <li>
                    {% comment %} <p>{{task.title}}</p>
                    <span>{{task.status}}</span> {% endcomment %}

                    {% comment %} <p>{{task.task}}</p>
                    <span>{{task.priority}}</span> {% endcomment %}
                    
                    
                    {% comment %} <p>{{task.title}}</p>
                    <span>{{task.details.priority}}</span> {% endcomment %}
                    
                    {% comment %} <p>{{task.task.title}}</p>
                    <span>{{task.priority}}</span> {% endcomment %}

                    <p>{{task.title}}</p>
                    <span>{{task.project.name}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>  
    

    <div>
        <ul>
            {% for project in tasks %}
                <li>
                    <p>{{project.name}}</p>

                    {% comment %} <span>{{ project.task_set.title }}</span> {% endcomment %}
                    {% for task in project.task_set.all %}
                        <p>{{task.title}}</p>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>


    <div>
        <ul>
            {% for task in tasks %}
                <li>
                    <p>{{task.title}}</p>

                    {% for emp in task.assigned_to.all %}
                        <p>{{emp.name}}</p>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>