<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% comment %} <div> {% endcomment %}
        {% comment %} <p>{{task_count}}</p> {% endcomment %}
        {% comment %} <p>{{task_count.num_task}}</p> {% endcomment %}
        {% comment %} <p>{{ task_count }}</p> {% endcomment %}
    {% comment %} </div> {% endcomment %}

    <div>
        <ol>
            {% for project in projects %}
                <li>
                    <p>{{project.name}}</p>
                    <p>{{project.num_task}}</p>

            {% endfor %}
        </ol>
    </div>
</body>
</html>