{% extends "event.html" %}
{% block content %}
    <div class='w-[1200px] mx-auto'>
        <div class="p-4">
            <h1 class="text-3xl font-semibold mb-6">Dashboard</h1>
            <div class="mb-8 text-right">
                <a href="{% url 'event-form' %}" class="inline-block mt-6 bg-blue-500 hover:text-red-500-800 text-white px-4 py-4 p-2 rounded-lg">Create New Event</a>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
                <a href="{% url 'manager-dashboard' %}">
                    <div class="bg-white rounded-xl p-6 shadow-sm">
                        <div class="bg-white p-6 rounded-xl shadow cursor-pointer" onclick="location.href='?filter = participants'">
                            <h3 class="text-sm text-gray-500">Total Participants</h3>
                            <p class="text-3xl font-bold">{{ counts.total }}</p>
                        </div>
                    </div>
                </a>

                <a href="{% url 'manager-dashboard' %}?type=completed">
                    <div class="bg-white rounded-xl p-6 shadow-sm">
                        <div class="bg-white p-6 rounded-xl shadow cursor-pointer" onclick="location.href='?filter = participants'">
                            <h3 class="text-sm text-gray-500">Total Event</h3>
                            <p class="text-3xl font-bold">{{counts.completed}}</p>
                        </div>
                    </div>
                </a>

                <a href="{% url 'manager-dashboard' %}?type=in progress">
                    <div class="bg-white rounded-xl p-6 shadow-sm">
                        <div class="bg-white p-6 rounded-xl shadow cursor-pointer" onclick="location.href='?filter = participants'">
                            <h3 class="text-sm text-gray-500">Upcoming Event</h3>
                            <p class="text-3xl font-bold">{{counts.in_progress}}</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'manager-dashboard' %}?type=todos">
                    <div class="bg-white rounded-xl p-6 shadow-sm">
                        <div class="bg-white p-6 rounded-xl shadow cursor-pointer" onclick="location.href='?filter = participants'">
                            <h3 class="text-sm text-gray-500">Past Event</h3>
                            <p class="text-3xl font-bold">{{counts.pending}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% block tasks %}
        
        {% endblock tasks %}
    </div>
        
{% endblock content %}

