
{% extends "dashboard/dashboard.html" %}
<title>{% block title %}Manager Dashboard{% endblock title %}</title>
{% block tasks %}
    <div class="bg-white rounded-xl shadow-sm">
        <div class="divide-y divide-gray-100">
            {% for task in tasks %}
                <div class="flex items-center justify-between p-4">
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                        <span>{{ task.title }}</span>
                        <div>
                            <span class="text-gray-500">{{ task.created_at | timesince}}</span>
                        </div>
                    </div>

                    <!-- Edit and Delete Buttons -->
                    <div class="flex items-center gap-2">
                        <a href="{% url 'update-task' task.id %}" class="px-2 py-1 bg-green-500 text-white rounded-lg">Edit</a>
                        <form action="{% url 'delete-task' task.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="px-2 py-1 bg-red-500 text-white rounded-lg">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock tasks %}